{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% include 'mainnavbar.html' %}
    <title></title>
    <style media="screen">
    body {
    background: url("/static/hostel21.jpeg") no-repeat center center fixed;
    background-size: cover;  /* Ensures the image covers the full screen */
    height: 100vh;  /* Makes sure the body takes the full viewport height */
    width: 100vw;  /* Ensures the body takes the full viewport width */
  }
    </style>

  </head>
  <body>
  <!-- <h1>Welcome....</h1> -->
  </body>
</html>
